main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
    font-weight: bold;
}

ul a:visited {
    text-decoration: none;
    color: black;
}

.intro {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    padding: 10px;
}

.intro p {
    padding: 20px 0 20px 0;
}

.container {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    padding: 10px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}

#startButton:hover {
    cursor: pointer;
}

#qAndAns {
    display: none;
}

#highScoresContainer {
    display: none;
}

#right {
    display: none;
}

#wrong {
    display: none;
}

/* highscore page styling below */
div a {
    text-decoration: none;
    color: black;
}

div a:visited {
    text-decoration: none;
    color: black;
}

.highscoreStyle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    flex-direction: column;
    padding: 10px;
}

.highscoreStyle h1 {
    padding: 10px;
}

#clearHS:hover {
    cursor: pointer;
}