main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
}

.intro {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    padding: 10px;
}

.intro p {
    padding: 20px 0 20px 0;
}

.container {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    padding: 10px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}

.button {
    background-color: aqua;
}

#startButton:hover {
    cursor: pointer;
}

#qAndAns {
    display: none;
}

#highScores {
    display: none;
}

#right {
    display: none;
}

#wrong {
    display: none;
}

/* highscore page styling below */
.highscoreStyle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    flex-direction: column;
    padding: 10px;
}

.highscoreStyle h1 {
    padding: 10px;
}

#returnHome:hover {
    cursor: pointer;
}

#clearHS:hover {
    cursor: pointer;
}
