:root{
    --main: #40b8f5;
    --dark: #1e1d8f;
}

body {
    background-color: var(--main);
}

nav {
    font-size: 20px;
}
    
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
    font-weight: bold;
}

ul a:visited {
    text-decoration: none;
    color: black;
}

form {
    padding: 10px;
}

input {
    margin: 10px;
    padding: 10px;
}

label {
    padding: 10px;
}

button {
    padding: 5px;
}

.intro {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    padding: 15px;
    background-color: var(--dark);
    color: var(--main);
    border-radius: 25px;
}

.intro p {
    padding: 20px 0 20px 0;
    line-height: 1.2;
}

.container {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    padding: 10px;
    background-color: var(--dark);
    border-radius: 25px;
    color: var(--main);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}

#startButton:hover {
    cursor: pointer;
}

#qAndAns {
    display: none;
}

#highScoresContainer {
    display: none;
    padding: 10px;
}

#questions {
    font-weight: bold;
}

#right {
    display: none;
    font-weight: bold;
}

#wrong {
    display: none;
    font-weight: bold;
}

#finalScore {
    font-weight: bold;
    color: yellow;
}

/* highscore page styling below */
div a {
    text-decoration: none;
    color: black;
}

div a:visited {
    text-decoration: none;
    color: black;
}

ol {
    padding: 10px;
}

ol li {
    padding: 3px;
    font-size: 18px;
}

.highscoreStyle {
    position: absolute;
    top: 25%;
    padding: 10px;
}

.leaderboard {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    padding: 10px;
    background-color: var(--dark);
    border-radius: 25px;
    color: var(--main);
    padding: 15px;
}

.highscoreStyle h1 {
    padding: 10px;
}

#clearHS:hover {
    cursor: pointer;
}



